#container {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
}

h1 {
    color: red;
    font-size: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h3 {
    color: red;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

hr {
    width: 75%;
    height: 2px;
    border: 5px solid gray;
    border-radius: 5px;
    text-align: center;
}

h5 {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#bioText {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

a {
    color: red;
    text-align: center;
}

#link-contain {
    text-align: center;
}

p {
    color:red;
}

button {
    text-align: center;
}

h6 {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul, li {
    list-style: none;
    color: red;
}